@use "../themeprovider/themeprovider" as theme-provider;

.swiper {
  width: 100%;
  height: 100%;
}

.slider-image {
  user-select: none;
}

// Prev Arrow
.swiper-button-prev {
  color: theme-provider.$black_color !important;
  position: absolute !important;
  display: none !important;
  font-weight: 700 !important;
}

// Next Arrow
.swiper-button-next {
  color: theme-provider.$black_color !important;
  position: absolute !important;
  display: none !important;
  font-weight: 700 !important;
}

//Gradient Shadow
.carousel-gradient-shadow {
  display: block;
  width: 100%;
  height: 6em;
  background: linear-gradient(
    180deg,
    transparent,
    theme-provider.$white_background,
    theme-provider.$white_background
  );
  position: relative;
  bottom: 3.5em;
  z-index: 2;
}

@media (min-width: theme-provider.$media_query_tiny_value) {
  .carousel-gradient-shadow {
    height: 10em;
    bottom: 7.5em;
  }
}

@media (min-width: theme-provider.$media_query_small_value) {
  .swiper-button-prev {
    top: 5.5em !important;
    left: 1em !important;
    display: block !important;
  }

  .swiper-button-next {
    top: 5.5em !important;
    right: 1em !important;
    display: block !important;
  }
}
