@use "../themeprovider/themeprovider" as theme-provider;

//Title
.favorites-title {
  margin: 1.5em 1.5em 1em 1.5em;
}

//Products
.favorites {
  @include theme-provider.product-wrapper-mobile();
  margin: 3em;

  .favorites-item {
    @include theme-provider.product-item();

    div:first-child {
      //Category
      .favorites-item-category {
        @include theme-provider.product-item-category();

        p {
          @include theme-provider.product-item-category-text();
        }
      }

      //Image
      .favorites-item-image {
        @include theme-provider.product-item-image();
      }

      //Title
      .favorites-item-title {
        @include theme-provider.product-item-title();
      }

      //Price
      .favorites-item-price {
        @include theme-provider.product-item-price();
      }
    }

    div:last-child {
      @include theme-provider.product-item-button-wrapper();
    }
  }
}

@media (min-width: theme-provider.$media_query_tiny_value) {
  .favorites {
    @include theme-provider.product-wrapper-tiny-screen();
    margin: 3em 2em;
  }
}

@media (min-width: theme-provider.$media_query_normal_value) {
  .favorites {
    @include theme-provider.product-wrapper-normal-screen();
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    margin: 3em 6em;
  }
}

@media (min-width: theme-provider.$media_query_big_screen) {
  .favorites {
    @include theme-provider.product-wrapper-big-screen();
    grid-template-columns: repeat(4, 1fr);
  }
}
