@use "../themeprovider/themeprovider" as theme-provider;

.searchproduct-page-container {
  width: 100%;
  margin: 0 auto;
  max-width: 130em;
}

//Search Input
.search-product-input {
  display: flex;
  justify-content: center;
  margin-top: 2.3em;
}

//Search Product Results Text
.search-product-results-text {
  color: theme-provider.$black_color;
  font-weight: 700;
  font-size: min(max(1rem, 2vw), 1.3rem);
  margin: 1.3em 1em 0em 0.8em;
  word-break: break-all;
}

//Search Products
.search-products-wrapper {
  @include theme-provider.product-wrapper-mobile();

  .search-product-item {
    @include theme-provider.product-item();

    div:first-child {
      //Category
      .search-product-item-category {
        @include theme-provider.product-item-category();

        p {
          @include theme-provider.product-item-category-text();
        }
      }

      //Image
      .search-product-item-image {
        @include theme-provider.product-item-image();
      }

      //Title
      .search-product-item-title {
        @include theme-provider.product-item-title();
      }

      //Price
      .search-product-item-price {
        @include theme-provider.product-item-price();
      }
    }

    div:last-child {
      @include theme-provider.product-item-button-wrapper();
    }
  }
}

@media (min-width: theme-provider.$media_query_tiny_value) {
  .search-products-wrapper {
    @include theme-provider.product-wrapper-tiny-screen();
    margin-bottom: 4em;
  }
}

@media (min-width: theme-provider.$media_query_normal_value) {
  .search-products-wrapper {
    @include theme-provider.product-wrapper-normal-screen();
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    margin-bottom: 4em;
  }
}

@media (min-width: theme-provider.$media_query_big_screen) {
  .search-products-wrapper {
    @include theme-provider.product-wrapper-big-screen();
    grid-template-columns: repeat(4, 1fr);
  }
}
