@use "../themeprovider/themeprovider" as theme-provider;

.placeholder-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3em;

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: theme-provider.$light_gray_background;
    width: min(85%, 55em);
    padding: 2em;
    border-radius: 20px;

    .placeholder-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        line-height: 1.2em;
        margin-top: 0.8em;
      }

      p {
        text-align: center;
        margin-top: 0.8em;
        font-weight: 700;
        font-size: 1.1rem;
      }

      //Button Wrapper
      .placeholder-button-wrapper {
        display: grid;
        margin-top: 1.5em;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.2em;
      }
    }
  }
}

@media (min-width: theme-provider.$media_query_tiny_value) {
  .placeholder-wrapper {
    .placeholder {
      .placeholder-content {
        //Button Wrapper
        .placeholder-button-wrapper {
          margin-top: 1em;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1.5em;
        }
      }
    }
  }
}

@media (min-width: theme-provider.$media_query_normal_value) {
  .placeholder-wrapper {
    .placeholder {
      flex-direction: row;
      justify-content: space-around;

      //Image
      div:first-child {
        margin-right: 1.8em;
      }

      .placeholder-content {
        align-items: flex-start;

        h1 {
          text-align: left;
          margin-top: 0em;
        }

        p {
          text-align: left;
        }
      }
    }
  }
}
