@use "../themeprovider/themeprovider" as theme-provider;

.empty-placeholder-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3em;

  .empty-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: theme-provider.$light_gray_background;
    width: min(85%, 55em);
    padding: 2em;
    border-radius: 20px;

    .empty-placeholder-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        line-height: 1.2em;
        margin-top: 0.8em;
      }

      p {
        text-align: center;
        margin-top: 0.8em;
        font-weight: 700;
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: theme-provider.$media_query_normal_value) {
  .empty-placeholder-wrapper {
    .empty-placeholder {
      flex-direction: row;
      justify-content: space-around;

      //Image
      div:first-child {
        margin-right: 1.7em;
      }

      .empty-placeholder-content {
        align-items: flex-start;

        h1 {
          text-align: left;
          margin-top: 0em;
        }

        p {
          text-align: left;
        }
      }
    }
  }
}
