.main-nav-wrapper {
  background: #131a22;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav-wrapper .nav-left-side {
  display: flex;
  align-items: center;
}
.main-nav-wrapper .nav-left-side .web-logo {
  position: relative;
  left: -2.3em;
  width: 10em;
  height: 3em;
  cursor: pointer;
}
.main-nav-wrapper .nav-left-side .deliver-location {
  display: none;
}
.main-nav-wrapper .nav-right-side {
  display: none;
}

@media (min-width: 49em) {
  .main-nav-wrapper .nav-left-side .web-logo {
    left: -1.3em;
  }
  .main-nav-wrapper .nav-left-side .deliver-location {
    display: flex;
    align-items: center;
    margin-left: -2.5em;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-left-side .deliver-location .location-icon {
    color: #fff;
    font-size: 2rem;
  }
  .main-nav-wrapper .nav-left-side .deliver-location .location-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    line-height: 1.1em;
  }
  .main-nav-wrapper .nav-left-side .deliver-location .location-text .location-text-title {
    color: #d6d6d6;
    font-weight: 650;
    font-size: 0.9rem;
  }
  .main-nav-wrapper .nav-left-side .deliver-location .location-text .location-text-country {
    color: #fff;
    font-weight: 650;
    font-size: 1.1rem;
  }
  .main-nav-wrapper .nav-right-side {
    display: flex;
    align-items: center;
  }
  .main-nav-wrapper .nav-right-side .search-products {
    display: flex;
    align-items: center;
    margin-right: 1.1em;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-right-side .search-products .search-icon {
    color: #fff;
    font-size: 2rem;
    margin-right: 0.2em;
  }
  .main-nav-wrapper .nav-right-side .search-products .search-products-text {
    line-height: 1.1em;
  }
  .main-nav-wrapper .nav-right-side .search-products .search-products-text .search-products-text-search {
    color: #d6d6d6;
    font-weight: 650;
    font-size: 0.9rem;
  }
  .main-nav-wrapper .nav-right-side .search-products .search-products-text .search-products-text-product {
    color: #fff;
    font-weight: 650;
    font-size: 1.1rem;
  }
  .main-nav-wrapper .nav-right-side .sign-in-text-link {
    margin-right: 1.1em;
    line-height: 1.1em;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-right-side .sign-in-text-link .sign-in-text-signin {
    color: #d6d6d6;
    font-weight: 650;
    font-size: 0.9rem;
  }
  .main-nav-wrapper .nav-right-side .sign-in-text-link .sign-in-text-accounts {
    color: #fff;
    font-weight: 650;
    font-size: 1.1rem;
  }
  .main-nav-wrapper .nav-right-side .user-profile-anonymous-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-nav-wrapper .nav-right-side .user-profile-anonymous-wrapper .user-profile-anonymous {
    margin-right: 1.1em;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-right-side .user-profile-display-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-nav-wrapper .nav-right-side .user-profile-display-wrapper .user-profile-display {
    margin-right: 1.1em;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-right-side .user-profile-display-wrapper .user-profile-display img {
    border-radius: 50%;
  }
  .main-nav-wrapper .nav-right-side .orders-text-link {
    margin-right: 0.9em;
    line-height: 1.1em;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-right-side .orders-text-link .orders-text-link-returns {
    color: #d6d6d6;
    font-weight: 650;
    font-size: 0.9rem;
  }
  .main-nav-wrapper .nav-right-side .orders-text-link .orders-text-link-orders {
    color: #fff;
    font-weight: 650;
    font-size: 1.1rem;
  }
  .main-nav-wrapper .nav-right-side .favorites-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.9em;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-right-side .favorites-link .favorites-icon {
    color: #fd5da8;
    font-size: 3.2rem;
  }
  .main-nav-wrapper .nav-right-side .favorites-link .favorites-count {
    color: #000;
    font-weight: 700;
    font-size: 1.7rem;
    position: absolute;
    margin-top: 0.1em;
  }
  .main-nav-wrapper .nav-right-side .cart-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .main-nav-wrapper .nav-right-side .cart-link .cart-icon {
    position: relative;
    width: 3.2em;
    height: 3em;
    margin-top: 0.8em;
    margin-right: 0.6em;
    transform: rotateY(180deg);
  }
  .main-nav-wrapper .nav-right-side .cart-link .cart-link-count {
    color: #f08804;
    font-size: 1.7rem;
    font-weight: 700;
    position: absolute;
    margin-top: -0.2em;
  }
}
.category-nav-wrapper {
  display: none;
}

@media (min-width: 49em) {
  .category-nav-wrapper {
    display: flex;
    align-items: center;
    background: #232f3e;
    padding: 0.7em 0.5em;
  }
  .category-nav-wrapper a {
    color: #fff;
    font-weight: 600;
    margin: 0em 0.5em;
    font-size: 1.1rem;
  }
  .category-nav-wrapper a:hover {
    text-decoration: underline;
  }
  .category-nav-wrapper a::first-letter {
    text-transform: capitalize;
  }
}
.close-nav-icon {
  color: #c82b04;
  position: absolute;
  right: 0.2em;
  top: 0.15em;
  z-index: 3;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
.close-nav-icon:hover {
  color: #fa3605;
}

.navbar-mobile-content-header {
  background: #232f3e;
  padding: 1em;
}
.navbar-mobile-content-header p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 650;
  margin-bottom: 0.4em;
}

.navbar-mobile-content-header-signin {
  background: #232f3e;
  padding: 1em 0.5em;
}
.navbar-mobile-content-header-signin .navbar-mobile-content-header-user {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.navbar-mobile-content-header-signin .navbar-mobile-content-header-user .navbar-mobile-content-header-user-image img {
  border-radius: 50%;
}
.navbar-mobile-content-header-signin .navbar-mobile-content-header-user div:nth-child(2) {
  margin-left: 0.7em;
}
.navbar-mobile-content-header-signin .navbar-mobile-content-header-user div:nth-child(2) p {
  word-break: break-all;
  color: #fff;
  margin-bottom: 0.3em;
  font-size: 1.2rem;
  font-weight: 650;
}

.mobile-nav-page-links .mobile-nav-location {
  padding: 0.6em;
  display: flex;
  align-items: center;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}
.mobile-nav-page-links .mobile-nav-location .mobile-nav-location-icon {
  color: #000;
  font-size: 2rem;
}
.mobile-nav-page-links .mobile-nav-location p {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 0.3em;
}
.mobile-nav-page-links .mobile-nav-location:hover {
  background: #eaeded;
}
.mobile-nav-page-links .mobile-nav-search {
  display: flex;
  align-items: center;
  padding: 0.6em;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}
.mobile-nav-page-links .mobile-nav-search .mobile-nav-search-icon {
  color: #000;
  font-size: 2rem;
}
.mobile-nav-page-links .mobile-nav-search p {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 0.3em;
}
.mobile-nav-page-links .mobile-nav-search:hover {
  background: #eaeded;
}
.mobile-nav-page-links .mobile-nav-orders {
  display: flex;
  align-items: center;
  padding: 0.6em;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}
.mobile-nav-page-links .mobile-nav-orders .mobile-nav-orders-image {
  position: relative;
  width: 3em;
  height: 3em;
}
.mobile-nav-page-links .mobile-nav-orders p {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 0.5em;
}
.mobile-nav-page-links .mobile-nav-orders:hover {
  background: #eaeded;
}
.mobile-nav-page-links .mobile-nav-favorites {
  display: flex;
  align-items: center;
  padding: 0.6em;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}
.mobile-nav-page-links .mobile-nav-favorites div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav-page-links .mobile-nav-favorites div:first-child .mobile-nav-favorites-icon {
  color: #fd5da8;
  font-size: 2.5rem;
}
.mobile-nav-page-links .mobile-nav-favorites div:first-child .mobile-nav-favorites-count {
  position: absolute;
  margin-top: 0.2em;
  margin-left: 0.1em;
  font-size: 1.2rem;
}
.mobile-nav-page-links .mobile-nav-favorites p {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 0.5em;
}
.mobile-nav-page-links .mobile-nav-favorites:hover {
  background: #eaeded;
}
.mobile-nav-page-links .mobile-nav-cart {
  display: flex;
  align-items: center;
  padding: 0.6em;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}
.mobile-nav-page-links .mobile-nav-cart div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav-page-links .mobile-nav-cart div:first-child .mobile-nav-cart-image {
  position: relative;
  width: 2.7em;
  height: 3em;
  transform: rotateY(180deg);
}
.mobile-nav-page-links .mobile-nav-cart div:first-child .mobile-nav-cart-count {
  color: #f08804;
  position: absolute;
  margin-left: 0.3em;
  margin-top: -0.4em;
  font-size: 1.2rem;
}
.mobile-nav-page-links .mobile-nav-cart p {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 0.5em;
}
.mobile-nav-page-links .mobile-nav-cart:hover {
  background: #eaeded;
}

.mobile-nav-divider {
  background: #232f3e;
  height: 0.5em;
}

.mobile-nav-category-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1.5em;
}
.mobile-nav-category-links h1 {
  font-size: 1.6rem;
  padding: 0.3em;
}
.mobile-nav-category-links a {
  color: #000;
  font-weight: 650;
  transition: background 0.5s ease-in-out;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5em;
}
.mobile-nav-category-links a:hover {
  background: #eaeded;
}
.mobile-nav-category-links a::first-letter {
  text-transform: capitalize;
}

.hamburger-icon-wrapper {
  display: block;
}
.hamburger-icon-wrapper .hamburger-icon {
  color: #fff;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

@media (min-width: 49em) {
  .hamburger-icon-wrapper {
    display: none;
  }
}
.profile-dropdown-invisible-backdrop {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.dropdown-wrapper {
  background: #333333;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 4em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 4;
}
.dropdown-wrapper .dropdown-close-icon {
  color: #c82b04;
  font-size: 1.5rem;
  position: absolute;
  right: 0.5em;
  top: 0.3em;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
.dropdown-wrapper .dropdown-close-icon:hover {
  color: #fa3605;
}
.dropdown-wrapper p {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 650;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.location-modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.location-modal-wrapper {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 4;
  overflow-y: auto;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
  width: min(33em, 80%);
}
.location-modal-wrapper .location-modal-content-header {
  background: #eaeded;
  padding: 1em;
}
.location-modal-wrapper .location-modal-content-header p {
  color: #000;
  text-align: center;
  margin-top: 0.6em;
  font-weight: 650;
  font-size: 1.7rem;
}
.location-modal-wrapper .location-modal-content-header .location-modal-close-button {
  color: #c82b04;
  font-size: 2rem;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
.location-modal-wrapper .location-modal-content-header .location-modal-close-button:hover {
  color: #fa3605;
}
.location-modal-wrapper .location-modal-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}
.location-modal-wrapper .location-modal-content p {
  color: #565959;
  font-weight: 650;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.location-modal-wrapper .location-modal-content .done-button-wrapper {
  margin-top: 1.4em;
}

@media (min-width: 46em) {
  .location-modal-wrapper {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .location-modal-wrapper .location-modal-content-header {
    padding: 1.2em;
  }
  .location-modal-wrapper .location-modal-content-header p {
    margin-top: 0em;
    text-align: left;
  }
  .location-modal-wrapper .location-modal-content-header .location-modal-close-button {
    right: 0.4em;
    top: 0.4em;
  }
  .location-modal-wrapper .location-modal-content {
    align-items: flex-start;
    text-align: left;
  }
  .location-modal-wrapper .location-modal-content p {
    text-align: left;
  }
  .location-modal-wrapper .location-modal-content .done-button-wrapper {
    align-self: flex-end;
  }
}
.quantity-modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.quantity-modal {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 4;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
  width: min(85%, 23em);
  overflow-y: auto;
}
.quantity-modal .quantity-modal-header {
  background: #eaeded;
  padding: 1em;
}
.quantity-modal .quantity-modal-header p {
  color: #000;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}
.quantity-modal .quantity-modal-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1.2em;
}
.quantity-modal .quantity-modal-content .quantity-modal-item-category {
  color: #999999;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
}
.quantity-modal .quantity-modal-content .quantity-modal-item-image {
  position: relative;
  width: 100%;
  height: 8em;
  margin-top: 0.5em;
}
.quantity-modal .quantity-modal-content .quantity-modal-item-title {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1em;
  line-height: 1.2em;
}
.quantity-modal .quantity-modal-content .quantity-modal-item-price {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 500;
}
.quantity-modal .quantity-modal-content .quantity-modal-button-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.3em;
  margin-top: 1em;
}

@media (min-width: 46em) {
  .quantity-modal {
    transform: translate(-50%, -50%);
  }
}
.clear-cart-modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.clear-cart-modal-wrapper {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(85%, 30em);
  z-index: 4;
}
.clear-cart-modal-wrapper .clear-cart-modal {
  background: #eaeded;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
  padding: 1.2em;
}
.clear-cart-modal-wrapper .clear-cart-modal p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.clear-cart-modal-wrapper .clear-cart-modal .clear-cart-modal-button-wrapper {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.home-content-wrapper {
  position: relative;
  bottom: 5em;
  z-index: 2;
}
.home-content-wrapper .home-sort-products {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.2em;
}
.home-content-wrapper .home-products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  margin: 2.5em 3em;
}
.home-content-wrapper .home-products .home-product-item {
  border: 3px solid #d6d6d6;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.home-content-wrapper .home-products .home-product-item div:first-child .home-product-item-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-content-wrapper .home-products .home-product-item div:first-child .home-product-item-category p {
  color: #999999;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
}
.home-content-wrapper .home-products .home-product-item div:first-child .home-product-item-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10em;
  margin: 1em 0em;
  cursor: pointer;
}
.home-content-wrapper .home-products .home-product-item div:first-child .home-product-item-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3em;
}
.home-content-wrapper .home-products .home-product-item div:first-child .home-product-item-price {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 500;
}
.home-content-wrapper .home-products .home-product-item div:last-child {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  width: 100%;
}
.home-content-wrapper .home-products-last-batch-wrapper {
  display: flex;
  justify-content: center;
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  grid-gap: 2em;
  margin: 2.5em 0em;
  width: min(80%, 40em);
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch .home-product-item {
  border: 3px solid #d6d6d6;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch .home-product-item div:first-child .home-product-item-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch .home-product-item div:first-child .home-product-item-category p {
  color: #999999;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch .home-product-item div:first-child .home-product-item-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10em;
  margin: 1em 0em;
  cursor: pointer;
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch .home-product-item div:first-child .home-product-item-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3em;
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch .home-product-item div:first-child .home-product-item-price {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 500;
}
.home-content-wrapper .home-products-last-batch-wrapper .home-products-last-batch .home-product-item div:last-child {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  width: 100%;
}

.home-footer-wrapper {
  margin-top: -2em;
}

.home-scroll-to-top {
  font-size: 3rem;
  color: #c82b04;
  position: fixed;
  bottom: 0.3em;
  right: 0.3em;
  z-index: 2;
  opacity: 0;
  transform: translateY(-0.5em);
  transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
}
.home-scroll-to-top:hover {
  color: #fa3605;
}

.home-scroll-to-top-active {
  font-size: 3rem;
  color: #c82b04;
  position: fixed;
  bottom: 0.3em;
  right: 0.3em;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transform: translateY(0em);
  transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
}
.home-scroll-to-top-active:hover {
  color: #fa3605;
}

@media (min-width: 33em) {
  .home-content-wrapper {
    bottom: 11em;
  }
  .home-content-wrapper .home-products {
    margin: 2.5em 2em;
    grid-template-columns: repeat(2, 1fr);
  }

  .home-footer-wrapper {
    margin-top: -8em;
  }

  .home-scroll-to-top {
    bottom: 0.5em;
    right: 0.5em;
  }

  .home-scroll-to-top-active {
    bottom: 0.5em;
    right: 0.5em;
  }
}
@media (min-width: 46em) {
  .home-content-wrapper {
    bottom: 11em;
  }
  .home-content-wrapper .home-sort-products {
    margin-right: 3em;
  }
  .home-content-wrapper .home-products {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    margin: 2.5em 6em;
  }
}
@media (min-width: 90em) {
  .home-content-wrapper .home-products {
    grid-template-columns: repeat(4, 1fr);
  }
}
.category-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.7em;
}
.category-title p {
  color: #000;
  font-size: 1.7rem;
  font-weight: 700;
  margin-left: 0.5em;
}
.category-title p::first-letter {
  text-transform: uppercase;
}
.category-title .category-sort-products {
  margin: 0.5em 0em 0em 1em;
}

.category-products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  margin: 2.5em 3em;
}
.category-products .category-product-item {
  border: 3px solid #d6d6d6;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.category-products .category-product-item div:first-child .category-product-item-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-products .category-product-item div:first-child .category-product-item-category p {
  color: #999999;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
}
.category-products .category-product-item div:first-child .category-product-item-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10em;
  margin: 1em 0em;
  cursor: pointer;
}
.category-products .category-product-item div:first-child .category-product-item-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3em;
}
.category-products .category-product-item div:first-child .category-product-item-price {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 500;
}
.category-products .category-product-item div:last-child {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  width: 100%;
}

.category-footer-wrapper {
  margin-top: 4em;
}

@media (min-width: 33em) {
  .category-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.7em;
  }
  .category-title p {
    margin-left: 0.5em;
  }
  .category-title .category-sort-products {
    margin: 0em 1.5em 0em 0em;
  }

  .category-products {
    margin: 2.5em 2em;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 46em) {
  .category-products {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    margin: 2.5em 6em;
  }
}
@media (min-width: 90em) {
  .category-products {
    grid-template-columns: repeat(4, 1fr);
  }
}
.search-product-input {
  display: flex;
  justify-content: center;
  margin-top: 2.3em;
}

.search-product-results-text {
  color: #000;
  font-weight: 700;
  font-size: min(max(1rem, 2vw), 1.3rem);
  margin: 1.3em 1em 0em 0.8em;
  word-break: break-all;
}

.search-products-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  margin: 2.5em 3em;
}
.search-products-wrapper .search-product-item {
  border: 3px solid #d6d6d6;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.search-products-wrapper .search-product-item div:first-child .search-product-item-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-products-wrapper .search-product-item div:first-child .search-product-item-category p {
  color: #999999;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
}
.search-products-wrapper .search-product-item div:first-child .search-product-item-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10em;
  margin: 1em 0em;
  cursor: pointer;
}
.search-products-wrapper .search-product-item div:first-child .search-product-item-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3em;
}
.search-products-wrapper .search-product-item div:first-child .search-product-item-price {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 500;
}
.search-products-wrapper .search-product-item div:last-child {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  width: 100%;
}

@media (min-width: 33em) {
  .search-products-wrapper {
    margin: 2.5em 2em;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4em;
  }
}
@media (min-width: 46em) {
  .search-products-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    margin: 2.5em 6em;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    margin-bottom: 4em;
  }
}
@media (min-width: 90em) {
  .search-products-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}
.cart-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5em 1.5em 1em 1.5em;
}

.cart-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5em;
}
.cart-content-wrapper .cart-item-category {
  color: #999999;
  font-weight: 600;
  font-style: italic;
  font-size: 0.9rem;
}
.cart-content-wrapper .cart-content {
  background: #eaeded;
  width: min(85%, 27em);
  padding: 2em;
  margin: 1em 0em;
  border-radius: 20px;
}
.cart-content-wrapper .cart-content .cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8em;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-image {
  position: relative;
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info-icon {
  cursor: pointer;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info .cart-item-title {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2em;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info .cart-item-price {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 500;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-quantity div:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-quantity div:first-child p {
  color: #000;
  margin: 0em 0.8em;
  font-size: 1.3rem;
  font-weight: 700;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-subtotal {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  margin-top: 1em;
  text-align: center;
}
.cart-content-wrapper .cart-content .cart-item .cart-item-remove-icon {
  margin-top: 0.5em;
  cursor: pointer;
}

.cart-grandtotal-wrapper {
  display: flex;
  justify-content: center;
}
.cart-grandtotal-wrapper .cart-grandtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaeded;
  padding: 1em;
  margin-bottom: 3em;
  width: min(85%, 27em);
  border-radius: 20px;
}
.cart-grandtotal-wrapper .cart-grandtotal p {
  color: #000;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1em;
  text-align: center;
}

@media (min-width: 46em) {
  .cart-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cart-content-wrapper .cart-content {
    width: min(85%, 60em);
    padding: 1.5em;
  }
  .cart-content-wrapper .cart-content .cart-item {
    flex-direction: row;
    justify-content: space-around;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-image {
    width: 10em;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info-icon {
    margin-left: 0.5em;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info {
    align-items: flex-start;
    margin-left: 0.7em;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info .cart-item-title {
    width: 11em;
    text-align: left;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-info .cart-item-price {
    margin-bottom: 1em;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-quantity {
    margin-left: 1em;
    margin-top: 0em;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-content .cart-item-subtotal {
    margin-left: 1.5em;
    margin-top: 0em;
  }
  .cart-content-wrapper .cart-content .cart-item .cart-item-remove-icon {
    margin-left: 0.5em;
    margin-top: 0em;
  }

  .cart-grandtotal-wrapper .cart-grandtotal {
    flex-direction: row;
    justify-content: center;
    width: min(85%, 60em);
  }
  .cart-grandtotal-wrapper .cart-grandtotal p {
    margin-bottom: 0em;
    margin-right: 1.2em;
  }
}
.footer-wrapper {
  background: #232f3e;
  padding: 4em 1em 4em 3em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
}
.footer-wrapper .footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.footer-wrapper .footer-links p {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.9em;
}
.footer-wrapper .footer-links a {
  color: #fff;
  margin-bottom: 0.6em;
  font-size: 0.9rem;
}
.footer-wrapper .footer-links a:hover {
  text-decoration: underline;
}

@media (min-width: 33em) {
  .footer-wrapper {
    padding: 4em 7em;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  }
}
.cart-placeholder-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.cart-placeholder-wrapper .cart-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaeded;
  width: min(85%, 55em);
  padding: 2em;
  border-radius: 20px;
}
.cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content h1 {
  text-align: center;
  line-height: 1em;
  margin-top: 0.8em;
}
.cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content p {
  text-align: center;
  margin-top: 0.8em;
  font-weight: 700;
  font-size: 1.1rem;
}
.cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content .cart-placeholder-button-wrapper {
  display: grid;
  margin-top: 1.5em;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.2em;
}

@media (min-width: 33em) {
  .cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content .cart-placeholder-button-wrapper {
    margin-top: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
  }
}
@media (min-width: 46em) {
  .cart-placeholder-wrapper .cart-placeholder {
    flex-direction: row;
    justify-content: space-around;
  }
  .cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content {
    align-items: flex-start;
  }
  .cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content h1 {
    text-align: left;
    margin-top: 0em;
  }
  .cart-placeholder-wrapper .cart-placeholder .cart-placeholder-content p {
    text-align: left;
  }
}
.empty-cart-placeholder-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.empty-cart-placeholder-wrapper .empty-cart-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaeded;
  width: min(85%, 55em);
  padding: 2em;
  border-radius: 20px;
}
.empty-cart-placeholder-wrapper .empty-cart-placeholder .empty-cart-placeholder-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-cart-placeholder-wrapper .empty-cart-placeholder .empty-cart-placeholder-content h1 {
  text-align: center;
  line-height: 1em;
  margin-top: 0.8em;
}
.empty-cart-placeholder-wrapper .empty-cart-placeholder .empty-cart-placeholder-content p {
  text-align: center;
  margin-top: 0.8em;
  font-weight: 700;
  font-size: 1.1rem;
}

@media (min-width: 46em) {
  .empty-cart-placeholder-wrapper .empty-cart-placeholder {
    flex-direction: row;
    justify-content: space-around;
  }
  .empty-cart-placeholder-wrapper .empty-cart-placeholder .empty-cart-placeholder-content {
    align-items: flex-start;
  }
  .empty-cart-placeholder-wrapper .empty-cart-placeholder .empty-cart-placeholder-content h1 {
    text-align: left;
    margin-top: 0em;
  }
  .empty-cart-placeholder-wrapper .empty-cart-placeholder .empty-cart-placeholder-content p {
    text-align: left;
  }
}

/*# sourceMappingURL=Home.module.css.map */
