$nav_background: #131a22;

$category_nav_background: #232f3e;

$light_gray_background: #eaeded;

$white_background: #fff;

$dropdown_background: #333333;

$hovered_background: #eaeded;

$quantity_button_background: #ffc266;

$quantity_button_background_hover: hsl(36, 100%, 60%);
